<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.copy_qq">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qq_s"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".MainActivity"

            />
        <activity android:name=".com.example.copy_qq.login.MainAcivity_login" />
        <activity android:name=".com.example.copy_qq.login.Main_Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.copy_qq.login.MainActivity_register" />
        <activity android:name=".com.example.copy_qq.login.MainActivity_register2" />

    </application>

</manifest>